@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

.background {
  background-color: #1F1E1E;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.background2 {
  background-color: #000000;
  height: 33.438vw;
  width: 52.083vw;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.text {
  color: #86868B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.1vw;
}

h2 {
  width: 9.323vw;
  height: auto;
  font-size: 1vw;
  color: #86868B;
}

h1 {
  width: 17.656vw;
  height: auto;
  font-size: 2vw;
  margin: 0;
  color: #ffffff;
}

p {
  width: 18.438vw;
  height: auto;
  font-size: 1.1vw;
  font-weight: 700;
}

.image img{
  width: 20.573vw;
  height: auto;
}

.image {
  position: relative;
  top: 4vw;
  left: 2vw;
}

.highlight {
  color: #ffffff;
}

.background2.mb {
  height: 159.290vw;
  width: 81.25vw;
}

.background2.mb .text {
  margin: 10vw;
}

.background2.mb .text p{
  width: 63.208vw;
  font-size: 2.5vw;
}

.background2.mb .text h1{
  width: 44.208vw;
  font-size: 4.4vw;
}

.background2.mb .text h2{
  width: 34.208vw;
  font-size: 2.4vw;
}

.background2.mb img {
  width: 49.625vw;
  height: auto; 
  position: absolute;
  top: 13.7vw;  
  left: 20vw;
}

.mb {
  display: none;
} 

@media screen and (max-width: 720px) {
  .pc {
    display: none;
  }

  .mb {
    display: block;
  }

}